<!-- Promotional Popup -->
<div id="promo-popup" popover>
  <button class="promo-popup__close" popovertarget="promo-popup" popovertargetaction="hide">×</button>
  <h2 class="promo-popup__title bangers-regular">Winter Workshops ❄️</h2>
  <p class="promo-popup__subtitle poppins-regular">Boost tes skills gratuitement durant 2 heures avec nos experts !</p>
  
  <table class="promo-schedule poppins-regular">
    <tr><td>Lun 16/02 (10h-12h)</td><td>HTML &amp; CSS</td></tr>
    <tr><td>Mar 17/02 (14h-16h)</td><td>JavaScript</td></tr>
    <tr><td>Mer 18/02 (10h-12h)</td><td>Git &amp; GitHub</td></tr>
    <tr><td>- - - - -</td><td>- - - - -</td></tr>
    <tr><td>Lun 02/03 (14h-16h)</td><td>HTML &amp; CSS</td></tr>
    <tr><td>Mar 03/03 (14h-16h)</td><td>JavaScript</td></tr>
    <tr><td>Mer 04/03 (10h-12h)</td><td>Git &amp; GitHub</td></tr>
  </table>

  <button class="button button__primary promo-popup__cta bangers-regular" popovertarget="hubspot-popover">
    Réserver ma place gratuite
  </button>
</div>

<!-- HubSpot Popover -->
<div id="hubspot-popover" popover>
  <button class="popover__close" popovertarget="hubspot-popover" popovertargetaction="hide">×</button>
  <header class="popover__header">
    <h3 class="popover__title">Télécharger le programme</h3>
    <p class="popover__tagline">Laisse-nous tes infos pour recevoir le banger programme !</p>
  </header>
  <div class="popover__content">
    <script charset="utf-8" type="text/javascript" src="//js-eu1.hsforms.net/forms/embed/v2.js"></script>
    <script>
      hbspt.forms.create({
        portalId: "147700205",
        formId: "1a00f0a3-c33c-47e3-9614-b56fdc4a8586",
        region: "eu1",
        redirectUrl: "thanks.html"
      });
    </script>
  </div>
</div>
