# ========================================================
# NoSeumCode - Frontend Environment Variables Template (.env.example)
# ========================================================

# Base de données PostgreSQL
DATABASE_URL=jdbc:postgresql://postgres:5432/db

# API Backend Spring Boot URL
NEXT_PUBLIC_API_URL=http://localhost:8080

STRIPE_PUBLIC_KEY=

STRIPE_SECRET_KEY=



