# ----------------------------------------------------------------------
# Force HTTPS
# ----------------------------------------------------------------------
RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# ----------------------------------------------------------------------
# Browser Caching (Standard)
# ----------------------------------------------------------------------

<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresDefault "access plus 1 month"
    
    # HTML
    ExpiresByType text/html "access plus 0 seconds"
    
    # CSS/JS
    ExpiresByType text/css "access plus 1 hour"
    ExpiresByType application/javascript "access plus 1 hour"
    
    # Images
    ExpiresByType image/x-icon "access plus 1 year"
    ExpiresByType image/png "access plus 1 month"
    ExpiresByType image/jpg "access plus 1 month"
    ExpiresByType image/jpeg "access plus 1 month"
</IfModule>

# ----------------------------------------------------------------------
# Security & Clean URLs
# ----------------------------------------------------------------------

Options -Indexes
DirectoryIndex index.html
